<div class="container-fluid">
  <div class="row">
    <div class="col-md-11">
      <hr style="border:3 dashed #ff0033" width="100%" SIZE=3>
    </div>
    <div class="col-md-1">
      <%= link_to event.project.name, project_path(event.project) %>
    </div>
  </div>
</div>
