<div class="head-content">
  <label><%= @project.name %></label>
  <label class="pull-right">
    <%= link_to '成员: ' + @project.accesses.count.to_s, project_members_path(@project) %>
  </label>
</div>
<hr style="border:3 dashed #ff0033" width="100%" SIZE=3>
<div class="main-content">
  <div class="project_todos" style="padding-left: 30px">
    <h4>
      任务
      <div class="btn-group">
        <%= link_to '新建任务', new_project_todo_path(@project), remote: true, class: 'btn btn-mini' %>
      </div>
    </h4>

    <div class="project-show">
      <ul class="todos-list">
        <%= render partial: 'projects/todo', collection: @project.todos, as: :todo %>
      </ul>
    </div>
  </div>
</div>
